
<!-- <h1>Welcome to {{hotelname}}</h1> -->

<app-header></app-header>

<!-- ngstyle -->
<div [hidden]="hideRooms">
    Number of Rooms : 
    <div [ngStyle]="{'color': rooms.availableRooms ? 'green' : 'red'}"
        [innerText]="numberOfRooms"></div>

</div>


{{rooms?.availableRooms ?? 'No rooms'}}



<!-- {{roomList | json}} -->

<h1>
    
    <!-- {{getError$ | async}} -->
    Number of Rooms: {{roomsCount$ | async}}

</h1>

<div *ngIf="rooms.availableRooms > 0">
    Rooms list
    {{title}}
    <!-- {{roomList}} -->
    <!-- //parent to child communication -->
    <!-- //child to parent communication  -->
    <app-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)" [title]="title"></app-rooms-list>
   
</div>



<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>

<button class="btn btn-primary" (click)="addRoom()">Add Room</button>

<button class="btn btn-primary" (click)="editRoom()">Edit Room</button>

<button class="btn btn-primary" (click)="deleteRoom()">Delete Room</button>


<!-- eventbinding -->
<button class="btn btn-primary" (click)="toggle()">Toggle</button>

{{totalBytes}}